# Django
*.pyc
__pycache__/
*.sqlite3
*.pyo
*.pyd
.DS_Store
.env
db.sqlite3

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.env
docker-compose.override.yml

# IDE
.vscode/
.idea/
